

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-link{
    color: #fff;
}

#sidebar {
    background-color: #35BAEC;
}

#navbarNav {
    display: none;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar-primary {
    background-color: #3782E4;
    color: white;
}

.navbar-hover:hover {
    color: #23527c;
    background: #eee;
}
.mb-5 {
    margin-bottom: 5rem !important;
}
