@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>Clinica Veterinaria</h4>
    <p class="lead">Sitio Web en proceso, construido por estudiantes de CEUTEC</p>
</div>

<h4 class="mt-3">Servicios</h4>
<hr/>

<div class="row offset-1 mt-4">
    <div class="card col-md-3 mr-5 align-items-center">
        <img src="~/Theme/img/1.png" alt="Registrar Pacientes" class="img-rounded">
        @Html.ActionLink("Ir a Pacientes", "../Paciente/Index", null, new { @class = "btn btn-primary my-3 p-2 text-center" })
    </div>
    <div class="card col-md-3 mr-5 align-items-center">
        <img src="~/Theme/img/2.png" alt="Registrar Duenos" class="img-rounded">
        @Html.ActionLink("Ir a Dueños", "../Dueno/Index", null, new { @class = "btn btn-primary my-3 p-2 text-center" })
    </div>
    <div class="card col-md-3 align-items-center">
        <img src="~/Theme/img/3.png" alt="Registrar Empleados" class="img-rounded">
        @Html.ActionLink("Ir a Empleados", "../Empleado/Index", null, new { @class = "btn btn-primary my-3 p-2 text-center" })
    </div>
</div>