@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clinica VeterinariaT</h1>
    <p class="lead">Sitio Web en proceso, construido por estudiantes de CEUTEC</p>
    <p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registrar Empleados</h2>
        <p>
            Formulario de Registro de Empleados, donde podra ver los detalles de cada empleado,
            editar o borrar, según sea su elección a realizar.
        </p>
        <p>@Html.ActionLink("Ir a Empleados", "Index", "Empleado", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Registrar Pacientes</h2>
        <p>
            Formulario de Registro de Pacientes, donde podra ver los detalles de cada empleado,
            editar o borrar, según sea su elección a realizar.
        </p>
        <p>@Html.ActionLink("Ir a Pacientes", "Index", "Paciente", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Reservar una cita</h2>
        <p>
            Formulario donde el usuario podrá reservar una cita para su mascota, también tendra opciones
            de ver los detalles, editar o borrar la cita, según sea su elección a realizar. 
        </p>
        <p>@Html.ActionLink("Ir a Citas", "Index", "Cita", null, new { @class = "btn btn-default" })</p>
    </div>
</div>